@charset "UTF-8";
/* --- reset ------- */
body, h1, h2, h3, h4, h5, h6{
	margin: 0px;
	padding: 0px;
}
ul{
	padding: 0px;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
body{
	
}

/* 구조를 이용한(우선순위가 높아짐, 오버라이드할때 사용함), 클래스를 이용한 셀렉터 */
/* --- 색상 ------- */
.color{	/* 기본색상 */
	
}
.red-warning{	/* red계열 색상, 용도에 따라 클래스 나누기 */
	
}
.red-notice{
	
}
.red-error{
	
}

.bg-white{
	backgroud: #fff;
}

.bg-gray{
	background: #7f7f7f;
}

.bg-light-gray{
	
}

.bg-deco-gray{
	
}

.bg-deco-dark{
	
}

.bg-dark{
	
}
/* --- 텍스트 ------- */
.hidden{
	display: none;
}

.decoration-none{
	text-decoration: none;
}
.decoration-underline{
	text-decoration: underline;
}

/* --- 레이아웃 - 구조를 이용한 css 적용 ------ */

.flex{
	display: flex;
} 
.flex.flex-row{
	flex-direction: row;
}
.flex.flex-column{
	flex-direction: column;
}
.flex-item-push{
	margin-left: auto;
}



/* --- 버튼 ------- */
.btn{
	width: 24px;
	height: 24px;
	overflow: hidden;
	text-indent: -999px;
	display: inline-block;
}

.btn-hamburger{
	background: url("/resources/images/icon-set.png") no-repeat 0px 0px;
}

.btn-primary{
	
}

.btn-cancel{
	
}

.btn-notice{
	
}

/* --- 반응형 ------- */
@media screen 
and (min-width:600px){
	.btn-md-hamburger{
		width: 48px;
		height: 48px;
		background: url("/resources/images/icon-set.png") no-repeat 0px -24px;
	}
	.show-md-block{
		display: block;
	}
	
}

@media screen 
and (min-width:800px){
	.btn-lg-hamburger{
		width: 48px;
		height: 48px;
		background: url("/resources/images/icon-set.png") no-repeat 0px -24px;
	}
	.show-lg-block{
		display: block;
	}
	
}

/* --- ------- */
/* #header{ */
/* 	width: 100%; */
/* 	height: 50px; */
/* } */















